{% extends 'layout.html' %}
//set dragabble to false 2 places, delete dropzone 2place
{% block head %}
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}

{% block content %}
<h1>STRATEGO</h1>
<div class="row align-items-center">

    <div id="game-board" class="col-7 offset-1" data-current-player="red">
        {% for row in range(10) %}
            <div>
                {% for col in range(10) %}
                    <div class="game-cell dropzone" id="board-{{ row }}{{ col }}"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div id="inventory" class="col-3">
        <div id="title">BLUE INVENTORY - {{ blue_player }}</div>
        <div id="blueInventory">
            {% for soldier in army %}
                <div class="inv-blue-cell dropzone" id="blue-{{ loop.index }}">
                    <img class="soldier blue" id="soldier-blue-{{ loop.index }}" draggable="true" data-rank="{{ soldier }}" src="/static/images/soldier_{{ soldier }}.svg">
                </div>
            {% endfor %}
        </div>
        <br>
        <div id="title">RED INVENTORY - {{ red_player }}</div>
        <div id="redInventory">
            {% for soldier in army %}
                <div class="inv-red-cell dropzone" draggable="false" id="red-{{ loop.index }}">
                    <img class="soldier red" id="soldier-red-{{ loop.index }}" draggable="true" data-rank="{{ soldier }}" src="/static/images/soldier_{{ soldier }}.svg">
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}