{% extends 'layout.html' %}

{% block content %}
<div>
    <form action="{{ url_for('game') }}" method="GET" class="players-name">
        <div>
            <label for="red-player">Player red's name:</label>
            <input type="text" name="red-player" id="red-player" required>
        </div>
        <div>
            <label for="blue-player">Player blue's name:</label>
            <input type="text" name="blue-player" id="blue-player" required>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success">Start Game</button>
        </div>
    </form>
</div>
{% endblock %}